.testimonials--container {
  width: 100%;
  height: auto;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.testimonial {
  width: 350px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  row-gap: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.2s ease;
  position: relative;
  bottom: 0;
}

.testimonial:hover {
  bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.testimonial__pfp {
  width: 64px;
  height: 64px;
}

.testimonial__username {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 18px;
}

.testimonial__usertext {
  width: 90%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .testimonials--container {
    justify-content: space-evenly;
  }
}