.search--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  width: 100%;
  padding: 30px 0;
  max-width: 400px;
  min-width: 200px;
}

.search__search_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #dddddd;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);  width: inherit;
  height: 65px;
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
  padding: 10px 20px;
  border: 2px solid #F7F7F700;
}

.search__search_container:hover {
  border: 2px solid #F7F7F7;
}

.search__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
  column-gap: 10px;
}

.search__button {
  background-color: #fff;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #525252;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .search__button {
    padding: 10px 0;
  }
}
 

.search__button:hover {
  background-color: #F7F7F7;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #DDDDDD;
}

.search__search_icon {
  background-color: #FF385C;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search__search_icon > svg {
  fill: #fff;

}

.home_button {
  width: 150px;
  height: 45px;
  outline: none;
  background-color: white;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
}

.home_button:hover {
  background-color: #F7F7F7;
}

.globe_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.globe_icon:hover {
  background-color: #F7F7F7; 
}

.account-options {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 5px 12px;
  border-radius: 25px;
  column-gap: 10px;
  cursor: pointer;
  transition: 0.2s linear;
  border: 1px solid #DDDDDD;
}

.account-options:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}
.search--items--container {
  display: flex;
  align-items: center;
  height: 45px;
  margin-left: auto;
  justify-content: center;
  width: 100%;
}
.account-options__icon--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.search__account--options {
  display: flex;
}