.table {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  width: 100%;
  border-bottom: 1px solid #dddddd;
  padding: 10px;
}

.table-item {
  min-height: 50px;
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  text-align: center;
}

.table:hover {
  background-color: #F7F7F7 !important;
}

.table-item:first-child {
  min-width: 100px;
  width: 300px;
}
.table-item:last-child {
  min-width: 100px;
  width: 100px;
}